{% extends 'todolist/base.html' %}
{% block content %}
<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Hello, {{ request.user }}!</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-calendar-check" viewBox="0 0 16 16">
            <path d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
          </svg>
        <h3 class="fs-2 text-body-emphasis">You have completed:</h3>
        <ul>
            <li>{{ num_completed_high_priority }} high-priority tasks</li>
            <li>{{ num_completed_medium_priority }} medium-priority tasks</li>
            <li>{{ num_completed_low_priority }} low-priority tasks</li>
            <li>{{ num_completed_optional }} optional tasks</li>
        </ul>
      </div>
      <div class="feature col">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
        </svg>
        <h3 class="fs-2 text-body-emphasis">You need to complete:</h3>
        <ul>
            <li>{{ num_incomplete_high_priority }} high-priority tasks</li>
            <li>{{ num_incomplete_medium_priority }} medium-priority tasks</li>
            <li>{{ num_incomplete_low_priority }} low-priority tasks</li>
            <li>{{ num_incomplete_optional }} optional tasks</li>
        </ul>
      </div>
    </div>
</div>
{% endblock %}